@model DubuisGelin.Models.ValueViewModel.CreateValueViewModel

@using DubuisGelin.Controllers

<h2>Ajouter une valeur</h2>

@using (Html.BeginForm(nameof(HomeController.CreateTable), "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @foreach (var champs in Model.ListeChamps)
    {
        <label>Entrez une valeur pour le champ @champs.Nom</label>
        <div>
            @Html.EditorFor(m => champs.NomValeur)
        </div>
    }
    <div style="display : flex; ">
        <div class="form-group">
            <div class="">
                <input type="submit" class="btn btn-default rounded bg-dark text-white mt-2" value="Valider" />
            </div>
        </div>
    </div>

}