@model DubuisGelin.Models.HomeController.IndexTableViewModel
@using DubuisGelin.Controllers

<h2>IndexTable</h2>

@Html.ActionLink("Créer un champs", nameof(HomeController.AddChampsToTable), "Home")
@Html.ActionLink("Créer des valeurs", nameof(HomeController.AddValues), "Home")

<table>
    <tr>
        @foreach (var champ in Model.ListeChamps)
        {
            <th>@champ.Nom</th>
        }
    </tr>
    @foreach (var liaison in Model.ListeLiaison)
    {
        <tr>
            @foreach (var item in liaison.ListeValue)
            {
                <td>@item.Nom</td>
            }
        </tr>

    }

</table>
