@model DubuisGelin.Models.HomeController.IndexViewModel

@using DubuisGelin.Controllers
<h1>Accueil</h1>

@Html.ActionLink("Créer une table", nameof(HomeController.CreateTable), "Home")

@foreach (var item in Model.TableUtilisateur)
{<div>
    @Html.ActionLink(item.Name, nameof(HomeController.IndexTable), "Home", new { id = item.Id })
    <label>Modifier</label>
    <label>Supprimer</label>
</div>

}
